# string operation

In [1]:
name = "dharani"
print(name[2])

a

In [2]:
for i in "dharu":
    print(i)

d
h
a
r
u

In [4]:
pan = "edxx87678edcx"
print(len(pan))

13

In [12]:
hello = " what are u doing?"
print("what" in hello)
print("not" in hello)

#if "on" in hello:
if "on" not in hello:
    print("yes")
else:
    print("no")

True
False
yes

In [24]:
#slicing
print(hello[0:10])
print(hello[0:10:2])
print(hello[0])
print(hello[:10]) # even if we don't specify start, it will consider it from start.
print(hello[0:]) # same for end also
print(hello[-2:]) # fetch elemts in reverse
print(hello[-9:-3])

 what are
 htae

 what are
 what are u doing?
g?
 u doi

In [51]:
# upper, lower, replace, split, concat
print(hello.upper())
print(hello.lower())
print(hello.replace('w', 'V'))
print(hello.split(" "))

##########################
#concat
n1 = "dharani"
n2 = "handyal"
name = n1 + " " + n2
print(name)

 WHAT ARE U DOING?
 what are u doing?
 Vhat are u doing?
['', 'what', 'are', 'u', 'doing?']
dharani handyal

# LIST operation

In [78]:
#insert, append, extend, remove, pop(works for index), del, for loop, comprehension function, sort, copy

list1 = ["apples", "banana", "cherries"]
print(list1)

list1[1] = "mango"
print(list1)

list1[1:2] = ["mango" , "pineapple"]
print(list1)

list2  = ["roshan", "begam", "kishore"]
list2.insert(2, "ananth")
print(list2)

list2.append("karan")
print(list2)

list1.extend(list2)
print(list1)

list1.remove("ananth")
print(list1)

list1.pop(1)
print(list1)

del list1[2]
print(list1)

list1 = ['apples', 'pineapple', 'roshan', 'begam', 'kishore', 'karan']

#to print items
for i in list1:
    print(i)
#to print index by using range funtion
for i in range(len(list1)):
    print(i)
#print elements with range function
for i in range(len(list1)):
    print(list1[i])
    
list1 = ['Apples', 'pineapple', 'roshan', 'begam', 'kishore', 'karan']
newlist = []
for i in list1:
    if 'a' in i:
        newlist.append(i)
print(newlist)

#comprehension function - create new list from existing lists on conditions.
newlist2 = [i for i in list1 if 'A' in i]
print(newlist2)

#sort
list1 = ['Apples', 'pineapple', 'roshan', 'begam', 'kishore', 'karan']
list1.sort()
print(list1)

#reverse sort
list1 = ['Apples', 'pineapple', 'roshan', 'begam', 'kishore', 'karan']
list1.sort(reverse = True)
print(list1)

#copy
list1 = ['Apples', 'pineapple', 'roshan', 'begam', 'kishore', 'karan']
list3 = list1.copy()
print(list3)

['apples', 'banana', 'cherries']
['apples', 'mango', 'cherries']
['apples', 'mango', 'pineapple', 'cherries']
['roshan', 'begam', 'ananth', 'kishore']
['roshan', 'begam', 'ananth', 'kishore', 'karan']
['apples', 'mango', 'pineapple', 'cherries', 'roshan', 'begam', 'ananth', 'kishore', 'karan']
['apples', 'mango', 'pineapple', 'cherries', 'roshan', 'begam', 'kishore', 'karan']
['apples', 'pineapple', 'cherries', 'roshan', 'begam', 'kishore', 'karan']
['apples', 'pineapple', 'roshan', 'begam', 'kishore', 'karan']
apples
pineapple
roshan
begam
kishore
karan
0
1
2
3
4
5
apples
pineapple
roshan
begam
kishore
karan
['pineapple', 'roshan', 'begam', 'karan']
['Apples']
['Apples', 'begam', 'karan', 'kishore', 'pineapple', 'roshan']
['roshan', 'pineapple', 'kishore', 'karan', 'begam', 'Apples']
['Apples', 'pineapple', 'roshan', 'begam', 'kishore', 'karan']

# TUPLE operations

In [86]:
#for loop, concat

tuple1 = ('India', 'Australia', 'America')
print(tuple1[1])
print('---------------------')
for i in tuple1:
    print(i)
    
tup2 = ('1', 'two', 'THREE')
tup3 = tuple1 + tup2
print(tup3)

Australia
---------------------
India
Australia
America
('India', 'Australia', 'America', '1', 'two', 'THREE')

# SET operations

In [115]:
#sets are un-ordered, so no index present.
# no duplicate elements should be there.
# elements cannot be changed, but inserting and removing elements can be performed.

set1 = {"uk", "us", "germany"}  
print(set1)
print(len(set1))
type(set1) #check data type of the variable

#set constructor

set2 = set(("uk", "us", "germany"))
print(set2)

# union function
set1 = {"uk", "us", "germany"} 
set3 = {50, 49, 34} 

set4 = set3.union(set1) # new set will be created
print(set4)

# update function
set1.update(set3) #updates the existing set
print(set1)

#intersection_update - updates existing set
set1 = {"pieapple", "jackf", "guava"} 
set2 = {"orange", "melon", "jackf", "apple"} 

set1.intersection_update(set2)
print(set1)

#intersection -  create new set
set1 = {"pieapple", "jackf", "guava"} 
set2 = {"orange", "melon", "jackf", "apple"} 

set3 = set1.intersection(set2)
print(set3)

#symmetric_diffrence_update -- updates existing set with removing duplicate elements. (UV should be in one team , not in both, so he's removed)

team1 = {"sachin", "UV", "gangooli"} 
team2 = {"tendulkar", "virat", "UV", "rohit"} 

team1.symmetric_difference_update(team2)
print(team1)

#symmetric_diffrence -- created new set with removing duplicate elements. (UV should be in one team , not in both, so he's removed)

team1 = {"sachin", "UV", "gangooli"} 
team2 = {"tendulkar", "virat", "UV", "rohit"} 

team3 = team1.symmetric_difference(team2)
print(team3)

#for loop
team1 = {"sachin", "UV", "gangooli"} 
for i in team1:
    print(i)

{'germany', 'us', 'uk'}
3
{'germany', 'us', 'uk'}
{49, 50, 34, 'us', 'germany', 'uk'}
{49, 50, 34, 'us', 'germany', 'uk'}
{'jackf'}
{'jackf'}
{'rohit', 'sachin', 'gangooli', 'tendulkar', 'virat'}
{'rohit', 'sachin', 'gangooli', 'tendulkar', 'virat'}
sachin
gangooli
UV

# DICTIONARY operations

In [23]:
d1 = {"name" : "alice", "age" : 24, "place" : "Mexico", "place" : "India"}
print(d1)

# dictionaries are ordered or unordered? -- python 3.7 and above, dict is oredered, older versions - unordered.
# disctionary doesn't allow duplicate keys values
# key valye structure.
# mutable
# multplie data types 

print(d1["name"])
print(len(d1))
print(type((d1)))

keys = d1.keys()
print(keys)
for k in keys:
    print(k)
    
# dictionary constructor

#d2 = dict(name = "john", age = 27)
#print(d2)

#update dictionary
d1["name"] = "Merry"
print(d1)
d1["roll number"] = 18 #adding one more key value pair

# update with update keyword
d1.update({"place" : "Columbia"})
print(d1)

# update with one more key value 
d1.update({"grade" : "A"})
print(d1)

# pop function
d1.pop("age")
print(d1)

# delfunction
del d1["grade"]
print(d1)

#we can even delete whole dictionary

#del d1 -- which delete whole dictionary

# clear function

d1.clear()
print(d1)  # emptys the whole dictionary. 

# for loop -  to print keys
d1 = {"name" : "alice", "age" : 24, "place" : "Mexico", "place" : "India"}
for i in d1:
    print(i)
    
# for loop -  to print values
d1 = {"name" : "alice", "age" : 24, "place" : "Mexico", "place" : "India"}
for i in d1.values():
    print(i)
    
#copy function
d2 = d1.copy()
print(d2)

#nested dictionary
dict1 = {"d1" : {"name" : "alice", "age" : 24}, "d3" : {"place" : "Mexico", "place" : "India"}}
print(dict1)
print(dict1["d3"])

{'name': 'alice', 'age': 24, 'place': 'India'}
alice
3
<class 'dict'>
dict_keys(['name', 'age', 'place'])
name
age
place
{'name': 'Merry', 'age': 24, 'place': 'India'}
{'name': 'Merry', 'age': 24, 'place': 'Columbia', 'roll number': 18}
{'name': 'Merry', 'age': 24, 'place': 'Columbia', 'roll number': 18, 'grade': 'A'}
{'name': 'Merry', 'place': 'Columbia', 'roll number': 18, 'grade': 'A'}
{'name': 'Merry', 'place': 'Columbia', 'roll number': 18}
{}
name
age
place
alice
24
India
{'name': 'alice', 'age': 24, 'place': 'India'}
{'d1': {'name': 'alice', 'age': 24}, 'd3': {'place': 'India'}}
{'place': 'India'}

# Functions

In [24]:
def myfirstfunction():
    print("Today is Thursday")
    
#calling
myfirstfunction()

Today is Thursday

In [28]:
#passing arguements/parameters
def mysecondfunction(name):     # name is a arguement which we will pass later
    print(name + "is a good student")
    
mysecondfunction("stark ")    # passing the arguement here.

stark is a good student